html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
    width: 100%;
	overflow: hidden;
	background-color: #fff;
}

#slider_container {
	height: 256px;
	width: 100%;
	border: 1px solid #000;
	overflow: hidden;
}